table { border-collapse: collapse; width: 100%; }
th, td { border: 1px solid #9b8a8a; padding: 6px; text-align: center; }
button { margin-top: 10px; padding: 6px 12px; background-color: #3b3b3b; color: white; border: none; border-radius: 4px; }
.header-with-icon { display: flex; align-items: center; justify-content: space-between; margin-bottom: 4px; }
.header-inline { display: inline-flex; align-items: center; gap: 6px; }
.header-title { margin: 0; font-size: 20px; line-height: 1; font-weight: bold; color: white; }
.header-icon { width: 24px; height: 24px; }
.icon-link { display: inline-block; padding: 4px; }
.switch { position: relative; display: inline-block; width: 40px; height: 22px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: 0.4s; border-radius: 22px; }
.slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 3px; bottom: 3px; background-color: white; transition: 0.4s; border-radius: 50%; }
input:checked + .slider { background-color: #2196F3; }
input:checked + .slider:before { transform: translateX(18px);}
.time-slot-table {width: 100%; border-collapse: collapse; margin-top: 1em; }
.time-slot-table th,
.time-slot-table td { border: 1px solid #ccc; padding: 0.5em; text-align: center; }
.time-slot-table th { background-color: #f0f0f0; }
.icon-button { position: absolute; top: 1rem; right: 1rem; z-index: 10; }
.icon-button a img { width: 32px; height: 32px; cursor: pointer; transition: transform 0.2s ease; }
.icon-button a img:hover { transform: scale(1.1); }
body { background-color: #c3c3c3; /* 明るめのグレー */ margin: 0; font-family: sans-serif; }
tbody tr:nth-child(even) { background-color: #78777c; }
tbody tr:nth-child(odd) { background-color: #a4a4a5; }
.button-1 { display: flex; justify-content: flex-end; margin-top: 1em; }